In [7]:
#=
Author:= Shreeda Bhat
License:= MIT 
UTF-8 =#

## Reading a CSV File 
------------------------

For reading CSV unlike in python, we use `DelimitedFiles` package

In [47]:
using DelimitedFiles

In [48]:
df = DelimitedFiles.readdlm("../Data/wikipediaEVDraw.csv",',')

54×9 Array{Any,2}:
 "25 Nov 2015"  28637  11314  3804  2536  …  4808     14122     3955
 "18 Nov 2015"  28634  11314  3804  2536     4808     14122     3955
 "11 Nov 2015"  28635  11314  3805  2536     4808     14122     3955
 "4 Nov 2015"   28607  11314  3810  2536     4808     14089     3955
 "25 Oct 2015"  28539  11298  3806  2535     4808     14061     3955
 "18 Oct 2015"  28476  11298  3803  2535  …  4808     14001     3955
 "11 Oct 2015"  28454  11297  3800  2534     4808     13982     3955
 "27 Sep 2015"  28388  11296  3805  2533     4808     13911     3955
 "20 Sep 2015"  28295  11295  3800  2532     4808     13823     3955
 "13 Sep 2015"  28220  11291  3792  2530     4808     13756     3953
 "6 Sep 2015"   28147  11291  3792  2530  …  4808     13683     3953
 "30 Aug 2015"  28073  11290  3792  2529     4808     13609     3953
 "16 Aug 2015"  27952  11284  3786  2524     4808     13494     3952
 ⋮                                        ⋱
 "9 Aug 2014"    1835   1011   506   373      323       730      315
 "30 Jul 2014"   1437    825   472   346      227       574      252
 "23 Jul 2014"   1201    672   427   319      129       525      224
 "14 Jul 2014"    982    613   411   310  …   106       397      197
 "2 Jul 2014"     779    481   412   305       75       252      101
 "17 Jun 2014"    528    337   398   264       24        97       49
 "27 May 2014"    309    202   281   186       11        16        5
 "12 May 2014"    260    182   248   171       11          "–"      "–"
 "1 May 2014"     239    160   226   149  …    11          "-"      "-"
 "14 Apr 2014"    176    110   168   108        2          "–"      "–"
 "31 Mar 2014"    130     82   122    80        2          "–"      "–"
 "22 Mar 2014"     49     29    49    29         "–"       "–"      "–"

In [49]:
using CSV

In [50]:
new_df = CSV.read("../Data/wikipediaEVDraw.csv")

53×9 DataFrame. Omitted printing of 1 columns
│ Row │ 25 Nov 2015 │ 28637 │ 11314 │ 3804  │ 2536  │ 10675  │ 4808   │ 14122  │
│     │ String      │ Int64 │ Int64 │ Int64 │ Int64 │ String │ String │ String │
├─────┼─────────────┼───────┼───────┼───────┼───────┼────────┼────────┼────────┤
│ 1   │ 18 Nov 2015 │ 28634 │ 11314 │ 3804  │ 2536  │ 10672  │ 4808   │ 14122  │
│ 2   │ 11 Nov 2015 │ 28635 │ 11314 │ 3805  │ 2536  │ 10672  │ 4808   │ 14122  │
│ 3   │ 4 Nov 2015  │ 28607 │ 11314 │ 3810  │ 2536  │ 10672  │ 4808   │ 14089  │
│ 4   │ 25 Oct 2015 │ 28539 │ 11298 │ 3806  │ 2535  │ 10672  │ 4808   │ 14061  │
│ 5   │ 18 Oct 2015 │ 28476 │ 11298 │ 3803  │ 2535  │ 10672  │ 4808   │ 14001  │
│ 6   │ 11 Oct 2015 │ 28454 │ 11297 │ 3800  │ 2534  │ 10672  │ 4808   │ 13982  │
│ 7   │ 27 Sep 2015 │ 28388 │ 11296 │ 3805  │ 2533  │ 10672  │ 4808   │ 13911  │
│ 8   │ 20 Sep 2015 │ 28295 │ 11295 │ 3800  │ 2532  │ 10672  │ 4808   │ 13823  │
│ 9   │ 13 Sep 2015 │ 28220 │ 11291 │ 3792  │ 2530  │ 10672  │ 4808   │ 13756  │
│ 10  │ 6 Sep 2015  │ 28147 │ 11291 │ 3792  │ 2530  │ 10672  │ 4808   │ 13683  │
⋮
│ 43  │ 30 Jul 2014 │ 1437  │ 825   │ 472   │ 346   │ 391    │ 227    │ 574    │
│ 44  │ 23 Jul 2014 │ 1201  │ 672   │ 427   │ 319   │ 249    │ 129    │ 525    │
│ 45  │ 14 Jul 2014 │ 982   │ 613   │ 411   │ 310   │ 174    │ 106    │ 397    │
│ 46  │ 2 Jul 2014  │ 779   │ 481   │ 412   │ 305   │ 115    │ 75     │ 252    │
│ 47  │ 17 Jun 2014 │ 528   │ 337   │ 398   │ 264   │ 33     │ 24     │ 97     │
│ 48  │ 27 May 2014 │ 309   │ 202   │ 281   │ 186   │ 12     │ 11     │ 16     │
│ 49  │ 12 May 2014 │ 260   │ 182   │ 248   │ 171   │ 12     │ 11     │ –      │
│ 50  │ 1 May 2014  │ 239   │ 160   │ 226   │ 149   │ 13     │ 11     │ -      │
│ 51  │ 14 Apr 2014 │ 176   │ 110   │ 168   │ 108   │ 8      │ 2      │ –      │
│ 52  │ 31 Mar 2014 │ 130   │ 82    │ 122   │ 80    │ 8      │ 2      │ –      │
│ 53  │ 22 Mar 2014 │ 49    │ 29    │ 49    │ 29    │ –      │ –      │ –      │

## Let's use Datetime package in Julia 
-------------------------------------------------------------
it's simple just like python3 `import datetime` in julia `Using Dates`

In [51]:
using Dates

In [52]:
Dates.DateTime(df[1,1],"d u y")

2015-11-25T00:00:00

# We just need to convert the first column to datetime
---------------------------------------------------------

In [53]:
col1 = df[:,1]

54-element Array{Any,1}:
 "25 Nov 2015"
 "18 Nov 2015"
 "11 Nov 2015"
 "4 Nov 2015"
 "25 Oct 2015"
 "18 Oct 2015"
 "11 Oct 2015"
 "27 Sep 2015"
 "20 Sep 2015"
 "13 Sep 2015"
 "6 Sep 2015"
 "30 Aug 2015"
 "16 Aug 2015"
 ⋮
 "9 Aug 2014"
 "30 Jul 2014"
 "23 Jul 2014"
 "14 Jul 2014"
 "2 Jul 2014"
 "17 Jun 2014"
 "27 May 2014"
 "12 May 2014"
 "1 May 2014"
 "14 Apr 2014"
 "31 Mar 2014"
 "22 Mar 2014"

In [54]:
for i = 1:length(col1)
    col1[i] = Dates.DateTime(col1[i],"d u y")
end

In [55]:
col1

54-element Array{Any,1}:
 2015-11-25T00:00:00
 2015-11-18T00:00:00
 2015-11-11T00:00:00
 2015-11-04T00:00:00
 2015-10-25T00:00:00
 2015-10-18T00:00:00
 2015-10-11T00:00:00
 2015-09-27T00:00:00
 2015-09-20T00:00:00
 2015-09-13T00:00:00
 2015-09-06T00:00:00
 2015-08-30T00:00:00
 2015-08-16T00:00:00
 ⋮
 2014-08-09T00:00:00
 2014-07-30T00:00:00
 2014-07-23T00:00:00
 2014-07-14T00:00:00
 2014-07-02T00:00:00
 2014-06-17T00:00:00
 2014-05-27T00:00:00
 2014-05-12T00:00:00
 2014-05-01T00:00:00
 2014-04-14T00:00:00
 2014-03-31T00:00:00
 2014-03-22T00:00:00

# Let's convert the date and month to integers

----------------------------------------------------------------------------

datetime2rata converts total number of days

for ex: `27 July 2000` is a date. The datetime2rata calculates the total days from 1 january 0001 and returns total number of days, till now. 
but here the inital date is `22 March 2014`
so let's subtract `col1` with `col[54] i.e 22 March 2014`

In [58]:
using Dates
j(a) = Dates.datetime2rata(a) - Dates.datetime2rata(col1[54])
days = Array{Int64}(undef,54)
for i = 1:length(col1)
    days[i] = j(col1[i])
end

In [60]:
days

54-element Array{Int64,1}:
 613
 606
 599
 592
 582
 575
 568
 554
 547
 540
 533
 526
 512
   ⋮
 140
 130
 123
 114
 102
  87
  66
  51
  40
  23
   9
   0

In [62]:
df[:,1] = days
DelimitedFiles.writedlm("../Data/Converted_dataset.csv",df,',')